
body {
  font-family: 'Lato';
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 30px 20px;
  border: 1px solid #888;
  width: 764px;
}




/* --- */



.button-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}


.button-group h3 {
  margin: 0px;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 16px;
}

.btn {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  padding: 20px 20px;
  margin-top: 3px;
  width: 181px;
  height: 66px;
  display: -webkit-inline-box;
}

.button-content{
  font-weight: 700;
  line-height: 26px;
  font-family: 'Lato';
  font-size: 16px;
  line-height: 26px;

}


#one-time-btn {
  background-color: #EAEAEA;
  color: #767676;
}

#monthly-btn {
  background-color: #EAEAEA;
  color: #767676;
}

#one-time-btn:hover {
  background-color: #26B7CD;
  color: white;
}

#monthly-btn:hover {
  background-color: #26B7CD;
  color: white;
}

#one-time-btn.active,
#one-time-btn:focus,
#one-time-btn:active {
  background-color: #26B7CD;
  color: white;
}

#monthly-btn.active,
#monthly-btn:focus,
#monthly-btn.active {
  background-color: #26B7CD;
  color: white;
}

#monthly-btn.active,
#monthly-btn:focus,
#monthly-btn.active .button-content ,
#one-time-btn.active,
#one-time-btn:focus,
#one-time-btn.active .button-content {
  background-color: #26B7CD;
  color: white;
}


#monthly-btn,
#one-time-btn {
  position: relative;
  padding-right: 18px; 
}

#monthly-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 26px;
  transform: translateY(-50%);
  width: 20px; 
  height: 20px; 
  border-radius: 50%;
  background-color: #FFFFFF; 
}

#one-time-btn::after{
  content: "";
  position: absolute;
  top: 50%;
  right: 23px;
  transform: translateY(-50%);
  width: 20px; 
  height: 20px; 
  border-radius: 50%;
  background-color: #FFFFFF; 
}

#monthly-btn.active,
#monthly-btn:focus::after,
#monthly-btn.active::after,
#one-time-btn.active,
#one-time-btn:focus::after,
#one-time-btn.active::after
 {

  font-size: 16px; 
  color: #26B7CD; 
  text-align: center;
  line-height: 20px; 
  content: "\f00c"; 
  font-family: 'FontAwesome';
  font-size: 14px;
}




/* ------- */

.heading h3{
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  line-height: 28px;
  margin: 0px;
  padding-bottom: 30px;
}

.button-label p{
margin: 0px;
font-style: "regular";
font-weight: 400;
font-size: 14px;
line-height: 22px;
color: #333333;
}

.discount_popup label{
  margin: 0px;
}

.discount_popup p{
  padding-bottom: 1px;
}

.form-field{
  margin-bottom: 20px;
}
.form-field input {
  width: 97%;
  height: 24px;
  padding: 7px 10px;
  border-color: #CACACA;
  border-style: solid;
  border-width: 1px;
  z-index: 100;
}

#duration input::placeholder {
  color: #CACACA; 
  font-size: 16px;
  line-height: 26px;

}

.discount-field{
  width: 100%;
  display: inline-flex;
}
.discount-field select{
  width: 69px;
}

#duration{
  display: none;
}




/* ------ */

.btn-add{
  background-color: #26B7CD;
  color: #FFFFFF;
  width: 57px;
  height: 40px;
  padding: 9px 16px;
  border: none;
  font-size: 14px;
  font-weight: 400;
}

.btn-cancel {
  color: #26B7CD;
  border: none;
  background-color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
}

.footer-button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-add {
  margin-left: auto;
}

/* ----- */



.select-wrapper {
  position: relative;
  font-size: 16px;
}


.dropdown-toggle {
  background-color: #F3F3F5;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 16px;
  text-align: left;
  width: 66px;
  height: 40px;
  border-color: #CACACA;
  border-style: solid;
  border-width: 1px 0px 1px 1px;
}


.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1;
}


.dropdown:hover .dropdown-menu {
  display: block;
}


.dropdown-item.active {
  background-color: #f9f9f9;
}


.dropdown-item {
  text-decoration: none;
}


.dropdown-menu a {
  display: flex;
  padding: 11px 20px;
  align-items: center;
  width: 126px;
  height: 48px;
  color: #000000;
}
.dropdown-menu a:hover {
  background-color: #f1f1f1;
}


.dropdown-toggle::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 9px;
  transform: translateY(-50%);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #8A8A8A; 
}


.btn-manual{

    color: #26B7CD;
    border: none;
    background-color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;

}
